
### Config File Template ###


[GENERATE]
NAMEFORMAT = job_%d
ITERABLES = model
DIRECTORY= Jobs
SUBMIT = latticemodel.py

[model]
L = 150
d = 2
q = 6
T = 0.705
name = potts
couplings = (0,1)
dtype = int

[simulation]
Neqb = 1
Nmeas = 0.05
Nmeas_freq = 1
Nmeas_ratio = 0.7
algorithm = wolff

[analysis]
simulation = True
analysis = True
sorting = True
plotting = True
quiet = False
observables = energy,order,specific_heat,susceptibility
sort_params = L,q,T

[job]
filetype = json




