
### Config File Template ###


[CONFIG]
FILE = job_%d
DIRECTORY= Jobs 
TASK = main
MODULE = py
SOURCE = sh
ITERABLES = model

[model]
L = 150
d = 2
q = 6
T = 0.705
name = potts
couplings = (0,1)
dtype = int

[simulation]
Neqb = 1
Nmeas = 0.05
Nfreq = 1
Nratio = 0.7
algorithm = metropolis_wolff
filetype = json
plotting = True
quiet = False





