
### Config File Template ###

[CONFIG]
FILE = job_%d
ARGUMENTS = model
PARAMETERS = model,simulation,analysis
FILETYPE = json
ANALYSIS = samples,observables
OBSERVABLES = energy,order,specific_heat,susceptibility

[model]
L = 8
d = 1
q = 2
T = 0.6
name = potts
couplings = (0,1)
dtype = int

[simulation]
Neqb = 100
Nmeas = 100
Nfreq = 1
Nratio = 0.8
algorithm = metropolis_wolff
filetype = json
plotting = False
quiet = False






