
### Config File Template ###


[CONFIG]
FILE = job_%d
DIRECTORY= Jobs 
TASK = main
MODULE = py
SOURCE = sh
ITERABLES = model

[model]
L = 200
d = 2
q = 6
T = 0.705
name = potts
couplings = (0,1)
dtype = int

[simulation]
Neqb = 10
Nmeas = 100
Nfreq = 40000
Nratio = 0
algorithm = metropolis_wolff
filetype = json
plotting = True
quiet = False





